
# The PROJECT_NAME tag is a single word (or a sequence of words surrounded by
# double-quotes, unless you are using Doxywizard) that should identify the
# project for which the documentation is generated. This name is used in the
# title of most generated pages and in a few other places.
# The default value is: My Project.

PROJECT_NAME           = "AM263Px Motor Control SDK"

INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/main_page/main_page.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/migration_guides/mcsdk_migration_guide.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/migration_guides/bissc_migration_guide_2025_00.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/migration_guides/endat_migration_guide_2025_00.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/migration_guides/nikon_migration_guide_2025_00.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/migration_guides/tamagawa_migration_guide_2025_00.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/developer_guides/developer_guides.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/developer_guides/developer_guide_pruicssm_io_modes.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/developer_guides/developer_guide_to_debug.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/release_notes.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/release_notes_10_00_00.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/release_notes_10_02_00.md
INPUT += $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/release_notes_2025_00_00.md
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/examples.cfg
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/device/$(DEVICE)/components.cfg
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/components/rtlibs/control/control.cfg
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/components/rtlibs/dcl/dcl.cfg
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/components/rtlibs/sfra/sfra.cfg
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/components/rtlibs/observer/observer.cfg
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/components/rtlibs/transforms/transforms.cfg
@INCLUDE = $(MOTOR_CONTROL_SDK_PATH)/docs_src/docs/api_guide/components/rtlibs/utilities/datalog/datalog.cfg

# Used to selectively pick DEVICE specific sections within .md files
ENABLED_SECTIONS = SOC_AM263PX

# SOC specific aliases
ALIASES+=VAR_SOC_NAME="AM263PX"
ALIASES+=VAR_SOC_NAME_LOWER="am263px"
ALIASES+=VAR_BOARD_NAME="AM263PX-CC"
ALIASES+=VAR_BOARD_NAME_LOWER="am263px-cc"
ALIASES+=VAR_BOARD_NAME_ADDON_AUTO="am263px-cc-addon-auto"
ALIASES+=VAR_BOARD_NAME_ADDON_IND="am263px-cc-addon-ind"
ALIASES+=VAR_LP_BOARD_NAME="LP-AM263P"
ALIASES+=VAR_LP_BOARD_NAME_LOWER="am263px-lp"
ALIASES+=VAR_SOC_DEFAULT_PACKAGE="ZCZ_S"
ALIASES+=VAR_SOC_MIGRATE_TO_PACKAGE="ZCZ_F"
ALIASES+=VAR_SOC_MANIFEST="manifest.html"
ALIASES+=VAR_MCU_SDK_DOCS_PATH="https://software-dl.ti.com/mcu-plus-sdk/esd/AM263PX/11_00_00_19/exports/docs/api_guide_am263px"
ALIASES+=VAR_IC_SDK_DOCS_PATH="https://software-dl.ti.com/processor-industrial-sw/esd/ind_comms_sdk/am263px/2025_00_00_08/docs/api_guide_am263px"